@charset "utf-8";

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/NotoSansKR-Thin.woff2) format("woff2"), 
  url(../fonts/NotoSansKR-Thin.woff) format("woff"), 
  url(../fonts/NotoSansKR-Thin.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/NotoSansKR-Light.woff2) format("woff2"), 
  url(../fonts/NotoSansKR-Light.woff) format("woff"), 
  url(../fonts/NotoSansKR-Light.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoSansKR-Regular.woff2) format("woff2"), 
  url(../fonts/NotoSansKR-Regular.woff) format("woff"), 
  url(../fonts/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/NotoSansKR-Medium.woff2) format("woff2"), 
  url(../fonts/NotoSansKR-Medium.woff) format("woff"), 
  url(../fonts/NotoSansKR-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NotoSansKR-Bold.woff2) format("woff2"), 
  url(../fonts/NotoSansKR-Bold.woff) format("woff"), 
  url(../fonts/NotoSansKR-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/NotoSansKR-Black.woff2) format("woff2"), 
  url(../fonts/NotoSansKR-Black.woff) format("woff"), 
  url(../fonts/NotoSansKR-Black.otf) format("opentype");
}



/* reset */
* {font-family:'NanumSquareR';}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none;}
th img, td img, input, label {vertical-align:middle}
dl,ul,ol,menu {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
table {width:100%;border-collapse:collapse;border-spacing:0;}
input,select,textarea,button {vertical-align:middle;font-size:100%}
button {border:0 none;background-color:transparent;cursor:pointer}
body {}
input[type="text"],input[type="password"],input[type="submit"], textarea {}
input:checked[type="checkbox"] {}
button,input[type="button"],input[type="submit"],input[type="reset"],input[type="file"] {}
body,th,td,input,select,textarea,button {color:#000}
a {color:#000;text-decoration:none;cursor:pointer}
a:active, a:hover {text-decoration:none}
address,cite,code,dfn,var {font-style:normal;font-weight:normal;}
body,th,td,input,select,textarea,button {font-size:13px;/*line-height:1.25em;*/}
caption,legend {overflow:hidden;width:1px;height:1px;margin:-1px 0 0 -1px;font-size:1px;line-height:0}
.blind {clip:rect(0,0,0,0); overflow:hidden; display:block; width:1px; height:1px;margin:-1px;padding:0;border:0; font-size:1px; line-height:0; text-indent:-9999px}
* html table {border-collapse:collapse}
*+html table {border-collapse:collapse}


@media (max-width:990px){
		#searchPannel {display:none;}
}




