@charset "utf-8";

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/NotoSansKR-Thin.woff2) format("woff2"), 
  url(../fonts/NotoSansKR-Thin.woff) format("woff"), 
  url(../fonts/NotoSansKR-Thin.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/NotoSansKR-Light.woff2) format("woff2"), 
  url(../fonts/NotoSansKR-Light.woff) format("woff"), 
  url(../fonts/NotoSansKR-Light.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoSansKR-Regular.woff2) format("woff2"), 
  url(../fonts/NotoSansKR-Regular.woff) format("woff"), 
  url(../fonts/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/NotoSansKR-Medium.woff2) format("woff2"), 
  url(../fonts/NotoSansKR-Medium.woff) format("woff"), 
  url(../fonts/NotoSansKR-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NotoSansKR-Bold.woff2) format("woff2"), 
  url(../fonts/NotoSansKR-Bold.woff) format("woff"), 
  url(../fonts/NotoSansKR-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/NotoSansKR-Black.woff2) format("woff2"), 
  url(../fonts/NotoSansKR-Black.woff) format("woff"), 
  url(../fonts/NotoSansKR-Black.otf) format("opentype");
}



/* reset */
* {font-family:'NanumSquareR';}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none;}
th img, td img, input, label {vertical-align:middle}
dl,ul,ol,menu {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
table {width:100%;border-collapse:collapse;border-spacing:0;}
input,select,textarea,button {vertical-align:middle;font-size:100%}
button {border:0 none;background-color:transparent;cursor:pointer}
body {}
input[type="text"],input[type="password"],input[type="submit"], textarea {}
input:checked[type="checkbox"] {}
button,input[type="button"],input[type="submit"],input[type="reset"],input[type="file"] {}
body,th,td,input,select,textarea,button {color:#000}
a {color:#000;text-decoration:none;cursor:pointer}
a:active, a:hover {text-decoration:none}
address,cite,code,dfn,var {font-style:normal;font-weight:normal;}
body,th,td,input,select,textarea,button {font-size:13px;/*line-height:1.25em;*/}
caption,legend {overflow:hidden;width:1px;height:1px;margin:-1px 0 0 -1px;font-size:1px;line-height:0}
.blind {clip:rect(0,0,0,0); overflow:hidden; display:block; width:1px; height:1px;margin:-1px;padding:0;border:0; font-size:1px; line-height:0; text-indent:-9999px}
* html table {border-collapse:collapse}
*+html table {border-collapse:collapse}


@media (max-width:990px){
		#searchPannel {display:none;}
}





@charset "utf-8";
/* sub : widemenu06 */
/*@latest 2021.01.14 ssj */

body>.inner {width:100%;float:left;/*overflow:hidden;*/position: relative;}
/* sub visual */
#sub_visual {width:100%;height: 170px;float:left;overflow:hidden;position:relative;background:#fff;border-top:1px solid #efefef;box-sizing:border-box;}
#sub_visual img {width:100%; min-height:100%; display:block;}
#sub_visual .bluebg {width:100%;height:100%;/* color:white; */line-height:200px;position:relative; display:none;}
#sub_visual .sub_titbox {width:100%;/* max-width:1300px; */margin:0 auto;padding:100px 0 90px;box-sizing:border-box;display:block;}

#sub_visual .sub_titbox p.bTitle {display: none;}
#sub_visual .sub_titbox strong.bContent {display:none;}

    @media (min-width:991px){                                     
        #sub_visual img {}
    }
    @media (max-width:990px){ 
        #sub_visual {/* margin-top:40px; */height: 100px;}
        #sub_visual img {/* min-height:100%; */position: absolute;top: -999px;bottom: -999px;right: -999px;left: -999px;margin: auto;width: auto;min-width: 100%;}
    }



/* layout */
.sub_div_wrap {width:100%;float:left;/*max-width:1300px;*/ min-height: 80vh; background:#fff;margin:0 auto;box-sizing:border-box;}

    @media (min-width:991px){
        .sub_div_wrap {position:relative;}
        .subMenu,.subCon {width:100%;position:relative;}
    }

    @media (max-width:990px){
        .subMenu {display:none;}
    }





/* sub Menu */
.subMenu {max-width:1300px;height:60px;line-height:60px;margin:-31px auto 0;box-sizing:border-box;/* z-index:1; */position:relative;}
.subMenu h3.menuNm {display:none;}


/* sub Contents */
.subCon {float:left;width:100%;box-sizing:border-box;margin-bottom:30px;}
.subCon h4.tit {/* display:none; */width: 100%;max-width: 1320px;padding: 0 10px;box-sizing: border-box;transform: translateX(-50%);margin: 0 auto;font-size: 36px;
				padding-top: 25px;text-align: left;position: absolute;left: 50%;padding-top: 0 !important;border-bottom: none;}
.subCon h4.tit:before {content:"";width:65px;height:5px;background:#333;position:absolute;margin-top: -25px !important;}

/* sub location */
.subCon .location {box-sizing:border-box;max-width:1300px;margin:0 auto;}
.subCon .location > li {float:left; list-style:none;position:relative; }
.subCon .location > li > a {color:#333; margin:10px 0; border-width:0; box-sizing:border-box; display:inline-block; vertical-align:middle; line-height:normal; word-break:keep-all;}
.subCon .location > li:nth-child(4) > a {font-weight:600;}

.subCon .location > li ul {width:100%; opacity:0; padding:0; background:rgba(249,249,249,0.98);box-sizing:border-box;position:relative; z-index:1;}
.subCon .location > li ul>li {list-style:none;position:relative;min-width:100%;line-height:40px;border:1px solid #efefef;border-width:0 1px 0;box-sizing:border-box;}
.subCon .location > li ul>li:last-child {border-width:0 1px 1px;}
.subCon .location > li ul li a {width:100%;color:#333; font-size:17px; padding:0 35px 0 20px; margin:10px 0; border-width:0;
                                box-sizing:border-box; display:inline-block; vertical-align:middle; line-height:normal; word-break:keep-all;}
.subCon .location > li ul li a span.bull {display:none;}
.subCon .location > li ul li:not(.deepest) > a:hover {text-decoration:underline;}
.subCon .location > li ul>li>a>span:after {content: ""; width: 20px; height: 35px;background: url(/images/wzwg/cmm/icon_set.png); background-position: -142px 14px; background-size: 300px;
											background-repeat: no-repeat; position: absolute; top:5px; right: 7px;}
.subCon .location > li:last-child ul {background:rgba(241,241,241,0.98);}

/*unactive 2depts's 3depts menu ul*/
.subCon .location > li ul li ul {position:absolute; top:0; left:100%;}
.subCon .location > li ul li>ul li a {padding:0 20px; font-size:14px;}
/* 3 depts open (not active page) */
.subCon .location > li ul li:not(.deepest):hover ul {display:block !important;}





.subCon h4.tit {}
.subCon > div {width:100%;display:block;clear:both; box-sizing:border-box;max-width:1300px;margin:0 auto;position:relative;}

/* share btn*/
.subCon > div script + p.fr {position:absolute; right:15px; top:-42px;}


    @media (min-width:991px){  
    .subCon h4.tit {top:-140px;}
    
        .subCon .location {margin-top:-60px; height:60px; background:#fff; box-shadow:0px 2px 4px rgba(0,0,0,0.1);}
        .subCon .location > li {height: 60px;line-height:60px;min-width:250px;max-width:30%;border-right:1px solid #efefef;}
        .subCon .location > li > a {width:100%;font-size:17px;padding:0 35px 0 20px;font-weight:600;}
        .subCon .location > li:not(.home) > a:after {content:""; width: 20px; height: 35px;
                                                    background: url(/images/wzwg/cmm/icon_set.png); background-position: -142px 14px;
                                                    background-size: 300px; background-repeat: no-repeat;
                                                    position: absolute; top: 12px; right:7px;}
                                                    
        .subCon .location > li:nth-child(2) > a:after,
        .subCon .location > li:not(.home):hover > a:after {content: "";width: 20px; height: 30px; background: url(/images/wzwg/cmm/icon_set.png); background-position: -19px 11px;
                                                            background-size: 300px; background-repeat: no-repeat; position: absolute; top:12px; right: 7px;}
        .subCon .location > li.home {min-width:auto;border-right:none;height: 100%;}
        .subCon .location > li.home:before {content:"\f015"; font-family:FontAwesome; font-size:19px; color: #294a7f; background: #fff; float:left; padding:0 20px;
                                            height: 100%; border-right:1px solid #efefef; border-width:0 1px;}
        .subCon .location > li.home a {width:55px;height: 59px;font-size:0;/* margin:0 0 0 -55px; */display: block;margin: 0;}


        .subCon .location > li > ul {visibility:hidden;opacity:0;
                                    transition:0.5s ease-in-out;
                                    transform:rotateX(-90deg) rotateY(0);
                                    transform-origin:0 0;}
        .subCon .location > li:hover > ul {display:block; visibility:visible; opacity:1; transform:rotateX(0) rotateY(0);}
        .subCon .location > li > ul:hover >li {display:block;}                                    

        .subCon .location > li ul>li>ul {visibility:hidden; opacity:0;
                                        transition:0.5s ease-in-out;
                                        transform:rotateX(0) rotateY(-90deg);
                                        transform-origin:0 0;}
        .subCon .location > li ul>li:hover > ul {visibility:visible; opacity:1; transform:rotateX(0) rotateY(0);}                                

        
        .subCon > div {padding-top:50px;}
    }
    @media (max-width:990px){
        .subCon .location {height:40px; line-height:40px; width:100%; overflow:hidden; background:#f9f9f9; border-bottom:1px solid #f0f0f0; padding:0 15px; text-align: left;}
        .subCon .location li {float:none; display:inline-block; font-size:15px;background-size:10px;padding:0;vertical-align:middle;}
        .subCon .location li:after {content:"\276D"; float:right; padding:0 8px; font-size:1em; opacity:0.6; line-height:41px;}
        .subCon .location li.home {background:url("/sample/template/wide/wide002/img/home.png")no-repeat 0px 0px; font-size:0; 
                                    padding:0 15px; background-position:left 14px; position:relative;}
        .subCon .location li.home:after {position:absolute; padding:0; right:5px; font-size:12px;}
        .subCon .location li.ftbd {font-weight:800;}
        .subCon .location li:last-child:after {display:none;}
        .subCon .location > li ul {display:none;}

        .subCon h4.tit {padding: 30px 10px 0 !important;top: 20px;}
        .subCon > div {padding:30px 10px 20px;}
    }


    @media (max-width:599px){
        .subCon .location li {padding:0 5px 0 3px;}
        .subCon .location li:after {font-size:11px; padding:0; margin-left:7px;}
    }





