@charset "utf-8"; 
@import url("common.css"); 






/* LOGIN */
.loginWrap {width: 100%; max-width: 600px; margin: 30px auto;}
.loginWrap .intro {font-family:'esamanru';font-weight: 200;font-size:20px;line-height:150%;margin-bottom: 50px;padding-top:30px;}
.loginWrap .intro b {font-family:'esamanru';font-size:20px;position:relative;z-index:1;font-weight: 200;}
.loginWrap .idpwBox {display:flex; flex-direction:column; gap:10px;}
.loginWrap .idpwBox input {background:#fff;border:1px solid #ddd;border-radius:10px;height:50px;box-sizing:border-box;padding: 0 15px !important;font-size:16px;font-family:'esamanru';font-weight: 200;}
.loginWrap .idpwBox button {font-family:'esamanru';border-radius: 10px;font-weight: 200;background: #005bac;border-color: #005bac;padding: 20px 0;}
.loginWrap .btnBox {display:flex; flex-wrap:wrap; margin-top:20px; border-top:1px solid #ddd; padding-top:20px;}
.loginWrap .btnBox .wzbtn-lg {width:100%;font-family:'esamanru';font-weight: 200;border-radius: 10px;}
.loginWrap .btnBox a.wzbtn-lg + a {text-align:right;}
.loginWrap .btnBox a:not(.wzbtn-lg) {position:relative; padding:15px 20px; width:50%; box-sizing:border-box; font-size:14px; color:#333;}
.loginWrap .btnBox a:not(.wzbtn-lg, :last-child):after {content:""; width:1px; height:14px; display:inline-block; background:#333; position:absolute; right:0; top:21px; opacity:0.5;}
.loginWrap .btnBox a:last-child {text-align:left;}


/* JOIN */
.joinWrap {}
.joinWrap .stepBox {display:flex; margin-bottom:50px; counter-reset:orderedlist 0; margin-top:20px; box-sizing:border-box; position:relative; z-index:0; padding:0px 50px;}
.joinWrap .stepBox::before {content:""; width:calc(100% - 100px); height:3px; position:absolute; left:50px; top:19px; z-index:0; background:#f0f0f0;}
.joinWrap .stepBox li {display:flex; flex-grow:1; flex-direction:column; align-items:center; z-index:1; color:#838383; position:relative; overflow:hidden;}
.joinWrap .stepBox li::before {counter-increment:orderedlist 1;content:counter(orderedlist);width:40px;height:40px;line-height:44px;text-align:center;color: #dcdcdc;margin-bottom:15px;font-family:'esamanru';background: #333;border-radius: 12px;}
.joinWrap .stepBox li > div  {width:100%;text-align:center;font-family:'esamanru';font-size:16px;font-weight: 200;}
.joinWrap .stepBox li > div::before {content:"";width:100%;height:3px;display:inline-block;position:absolute;left:0px;top:18px;z-index:-1;background: #333;}
.joinWrap .stepBox li.on > div {color:#333;}
.joinWrap .stepBox li.on::before  {color: #333;background: #333;}
.joinWrap .stepBox li.on::after {content:""; display:inline-block; width:13px; height:7px; position:absolute; top:13px; transform:rotate(-45deg); border-style:solid; border-color:#fff;  border-width:0px 0px 3px 3px;}
.joinWrap .stepBox li.on > div::before {width:50%;}
.joinWrap .stepBox li.on ~ li > div::before {opacity:0;}
.joinWrap .stepBox li.on ~ li::before {color: #333;background: #ececec;}
    @media all and (max-width:990px){
        .joinWrap .stepBox {padding:0 10px;}
        .joinWrap .stepBox li::before {width: 30px; height: 30px; line-height: 31px; font-size: 13px;}
        .joinWrap .stepBox li.on::after {width: 10px; height: 5px; top: 10px;}
        .joinWrap .stepBox::before {top:14px;width: calc(100% - 60px);}
        .joinWrap .stepBox li > div::before {top:14px;}
    }


.joinWrap .intro {font-family:'esamanru';font-weight: 200;font-size:20px;line-height:150%;margin-bottom:20px;padding-top:30px;}
.joinWrap .intro b {font-family:'esamanru';font-size:20px;position:relative;z-index:1;font-weight: 200;}
.joinWrap .intro b::before {content:"";width: 103%;height:10px;display:inline-block;position:absolute;bottom:0px;left:-5px;opacity:0.3;z-index:-1;background: #8ecf79;}
.joinWrap .bottom_btnbox a {min-width:180px; margin:0px 5px;}


/* 1_약관동의 */
.joinWrap .termsList {width:100%; max-width:800px; display:flex; flex-direction:column; margin:0px auto;}
.joinWrap .termsList .allCheckBox {margin-bottom:30px;padding:20px;background: #f8f9fa;border:1px solid #efefef;border-radius: 12px;margin-top: 40px;}
.joinWrap .termsList .allCheckBox label {font-family:'esamanru';font-weight: 200;color: #333;}
.joinWrap .termsList > ul {width:100%; display:flex; flex-direction:column;}
.joinWrap .termsList > ul > li  {display:flex; flex-direction:column; padding-bottom:40px;}
.joinWrap .termsList > ul > li .termsNm {font-family:'esamanru';margin-bottom:15px;font-size: 18px;position:relative;padding-left: 30px;font-weight: 200;}
.joinWrap .termsList > ul > li .termsNm::before {content:"";width: 16px;height: 19px;display:inline-block;position:absolute;left:5px;top: 1px;background: url(http://www.wiz-builder.com/osan/mngr/module/upload/image/selectImageDetail.do?usrimgId=3998);}
.joinWrap .termsList > ul > li .termsCo  {width:100%;box-sizing:border-box;height:200px;overflow-y:scroll;font-size:13px;line-height:130%;color:#838383;border: 1px solid #d0d0d0;padding:15px;border-radius:5px;}
.joinWrap .termsList > ul > li .btnbox {display:flex;justify-content: flex-end;padding-top:10px;font-size: 15px;color: #333;}

    @media all and (max-width:990px){
        .joinWrap .intro b {font-size:17px;}
        .joinWrap .termsList > ul > li .termsNm  {font-size:16px;}
    }


/* 2_회원유형선택 */
.join_usrSelectWrap .usrList {display:flex; justify-content:center; align-items:stretch;  gap:20px; margin:50px auto;}
.join_usrSelectWrap .usrList li  {width:30%;}
.join_usrSelectWrap .usrList li input[type="radio"] {clip:rect(0px, 0px, 0px, 0px); height:1px; position:absolute; width:1px; margin:-1px; overflow:hidden; padding:0px;}
.join_usrSelectWrap .usrList li input[type="radio"] + label  {width:100%;height:100%;position:relative;cursor:pointer;display:inline-block;box-sizing:border-box;vertical-align:middle;line-height:130%;text-align:center;padding:30px 20px;/* background: #f8f9fa; *//* border:1px solid #efefef; */border: 1px solid #99bac8;outline: 2px solid transparent;transition: all 0.3s ease;transform: translateY(0);}
.join_usrSelectWrap .usrList li input[type="radio"] + label > div b {font-family:'esamanru';font-weight: 200;font-size:20px;}
.join_usrSelectWrap .usrList li input[type="radio"] + label > div p  {font-size:14px;letter-spacing:-0.5px;color: #838383;margin-top: 15px;}
.join_usrSelectWrap .usrList li input[type="radio"] + label:hover {border: 1px solid #2091cb;outline: 2px solid #2091cb !important;transform: translateY(-6px);box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);}
.join_usrSelectWrap .usrList li input[type="radio"]:checked + label  {background: #005bac; border: 1px solid #005bac;outline: 2px solid #005bac !important;transform: translateY(-6px);box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);}
.join_usrSelectWrap .usrList li input[type="radio"]:checked + label > div b  {color:#fff;}
.join_usrSelectWrap .usrList li input[type="radio"]:checked + label > div p {color:#fff; opacity:0.9;}
.join_usrSelectWrap > .co {text-align:center;padding-bottom:50px;font-size: 16px;color:#333;}
.join_usrSelectWrap > .co .grey {font-size: 14px;color:#838383;display:block;margin-top:8px;}
    @media all and (max-width:990px){
        .joinWrap .intro, .idpwFindWrap .subTit,
        .join_usrSelectWrap .usrList li input[type="radio"] + label > div b {font-size:17px !important;}
        .join_usrSelectWrap .usrList li  {width:45%;}
    }



/* 3_회원정보 입력 */

.join_usrInfoWrap {width:100%;max-width: 800px;display:flex;flex-direction:column;margin:0px auto;}
.join_usrInfoWrap .guideTxt {text-align:right; font-size:14px; color:#838383;}
.join_usrInfoWrap>ul {display:flex; flex-direction:column; border:2px solid #ddd; border-width:2px 0; margin:15px 0 30px;}
.join_usrInfoWrap>ul>li {width:100%; padding-bottom:20px; display:flex;}
.join_usrInfoWrap>ul>li:first-child {padding-top:20px;}
.join_usrInfoWrap>ul>li.separate-line {margin-top:25px; border-top:1px dashed #ddd; padding-top:40px;}
.join_usrInfoWrap .leftTit {width:150px; line-height:38px; font-size:14px; font-weight:500; color:#333; padding-left:10px;}
.join_usrInfoWrap .leftTit label {width:100%;}
.join_usrInfoWrap .guideTxt .necessary,
.join_usrInfoWrap .leftTit .necessary {margin:-13px 0 0 5px; display:inline-block; vertical-align:middle; width:6px; height:6px; overflow:hidden; text-indent:-999px; position:relative; border-radius:100%; margin-right:4px;}
.join_usrInfoWrap .guideTxt .necessary:before,
.join_usrInfoWrap .leftTit .necessary:before {content:"";width:100%;height:100%;display:inline-block;background: #6eb92b;position:absolute;left:0;top:0;}

.join_usrInfoWrap .txtfield {display:flex; flex-grow:1; width:50%; flex-wrap:wrap; line-height:37px; font-size:14px;}
.join_usrInfoWrap .txtfield input + a {margin-left:10px; padding:0 15px;}
.join_usrInfoWrap .txtfield .guideTxt {font-size:13px;width:100%;text-align:left;padding-top:10px;line-height: 130%;word-break: keep-all;}
.join_usrInfoWrap .txtfield .guideTxt.red {color: #c20000;}
.join_usrInfoWrap .txtfield .guideTxt.blue {color: #0365cb;}
.join_usrInfoWrap .txtfield .btw {padding:0 5px;}
.join_usrInfoWrap .txtfield input[type="email"] {max-width:40%;}
.join_usrInfoWrap .txtfield input[type="email"] ~ select {margin-left:10px;}
.join_usrInfoWrap .txtfield select ~ input[type="number"] {max-width:30%;}
.join_usrInfoWrap .co {color:#333; word-break:keep-all;}
    @media all and (max-width:750px){
        .join_usrInfoWrap .txtfield input[type="email"] ~ select {margin-left:0px; margin-top:10px;}
    }




/* 4_회원가입 완료 */
.join_usrInfoWrap .finImgbox b:before {background: #8ecf79;}

/* 아이디 및 비밀번호 찾기 */
.idpwFindWrap .tabBoxWrap {display:flex;display:inline-flex;justify-content:center;width: calc(100% - 100px);margin: 0 50px 50px;border-bottom: 3px solid #333;box-sizing: border-box;} 
.idpwFindWrap .tabBoxWrap button {width: 40%;max-width: 300px;border: 3px solid #ececec;border-bottom: none;border-radius: 12px 12px 0 0;padding:0 17px;margin: 0 0px;box-sizing: border-box;} 
.idpwFindWrap .tabBoxWrap button>div {font-size:16px;padding:14px 5px 12px;background:#fff;border-radius:30px;font-weight: 200;font-family:'esamanru';color: #8f8f8f;} 
.idpwFindWrap .tabBoxWrap button:hover div {color:#333;}
.idpwFindWrap .tabBoxWrap button.active {background: #333;border-color: #333;} 
.idpwFindWrap .tabBoxWrap button.active>div { background:transparent; color:#fff;} 
    @media all and (max-width:899px){
        .idpwFindWrap .tabBoxWrap {width: calc(100% - 20px);margin: 0 10px 50px;}
    }

.idpwFindWrap {display:flex; flex-direction:column;}
.idpwFindWrap .subTit {font-family:'esamanru';font-size: 18px;position:relative;padding-left: 30px;font-weight: 200;}
.idpwFindWrap .subTit:before {content:"";width: 16px;height: 19px;display:inline-block;position:absolute;left:5px;top: 1px;background: url(http://www.wiz-builder.com/osan/mngr/module/upload/image/selectImageDetail.do?usrimgId=3998);}
.idpwFindWrap .co {text-align:center; font-size:15px; color:#333;}
.idpwFindWrap .join_usrInfoWrap>ul {border-width:1px 0; border-color:#ddd;}
.idpwFindWrap .join_usrInfoWrap .txtfield input {border-color:#ddd; width:400px;}
.idpwFindWrap .bottom_btnbox a {min-width:180px; margin:0px 5px;}

.idpwFindWrap .resultBox {padding:30px 20px;background: #f8f9fa;border: 1px solid #efefef;border-radius: 12px;margin:15px 0 30px;text-align:center;line-height:180%;}
.idpwFindWrap .resultBox span {color:#333; font-size:15px;}
.idpwFindWrap .resultBox div {margin-top:10px; letter-spacing:1px; font-weight:500; color:#333;}
.idpwFindWrap .resultBox div strong {color:#346FEF;font-family:'esamanru';font-size:18px;font-weight: 200;}






.joinWrap ::-webkit-scrollbar { width:7px;}
.joinWrap ::-webkit-scrollbar-track { background:transparent;}
.joinWrap ::-webkit-scrollbar-thumb { background:rgba(0,0,0,0.2);}
.joinWrap ::-webkit-scrollbar-thumb:hover { background:var(--Grayscale-5);}

